@model IEnumerable<ClothesStore.Models.Image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Label = "Danh mục";
    ViewBag.FucLabel = "Thông tin danh mục";
}

@section header{
    <!-- Datatable -->
    <link href="~/Public/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
}
@section footer{
    <!-- Datatable -->
    <script src="~/Public/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Public/js/plugins-init/datatables.init.js"></script>
}

<section class="content">
    @Html.Partial("_Messages")
    <div class="card">
        <div class="card-header border-bottom p-0 p-3 mx-1">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3 class="card-title">
                        <strong>@ViewBag.FucLabel</strong>
                    </h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="#" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="ml-1">Thùng rác</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="display p-0" style="min-width: 845px;">
                    <thead>
                        <tr>
                            <th style="width: 10px">.#</th>
                            <th>Tên quần áo</th>
                            <th>Màu</th>
                            <th style="max-width: 10%">Ảnh chính</th>
                            <th style="max-width: 10%">Ảnh phụ 1</th>
                            <th style="max-width: 10%">Ảnh phụ 2</th>
                            <th style="max-width: 10%">Ảnh phụ 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cloth.ClothesName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color.ColorName)
                                </td>
                                <td>
                                    <img src="@item.UrlMainImg" alt="Alternate Text" class="img-fluid rounded" />
                                </td>
                                <td>
                                    <img src="@item.UrlSecondaryImage1" alt="Alternate Text" class="img-fluid rounded" />
                                </td>
                                <td>
                                    <img src="@item.UrlSecondaryImage2" alt="Alternate Text" class="img-fluid rounded" />
                                </td>
                                <td>
                                    <img src="@item.UrlSecondaryImage3" alt="Alternate Text" class="img-fluid rounded" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</section>
