@model ClothesStore.Models.Category_ClothingType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category_ClothingType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CateCloTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CateCloTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHidden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothingType.ClothingTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothingType.ClothingTypeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
