@model ClothesStore.Models.Category_ClothingType

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category_ClothingType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CateCloTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CateCloTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHidden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothingType.ClothingTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothingType.ClothingTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
