<ul class="metismenu" id="menu">
    <li class="nav-label first">Main Menu</li>
    <li>
        <a class="has-arrow" href="#" aria-expanded="false">
            <i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="@Url.Action("Index", "Dashboard")">Admin</a></li>
            <li><a href="@Url.Action("Index", "AccountManagement")">Users</a></li>
        </ul>
    </li>
    <li class="nav-label">Apps</li>
    <li>
        <a class="has-arrow" href="#" aria-expanded="false">
            <i class="icon icon-app-store"></i><span class="nav-text">Danh mục</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="@Url.Action("Index", "Categories")">Danh mục</a></li>
            <li><a href="@Url.Action("Index", "ClothingTypes")">Loại quần áo</a></li>
            <li><a href="@Url.Action("Index", "ClothingStyles")">Kiểu quần áo</a></li>
            <li><a href="@Url.Action("Index", "Colors")">Màu sắc</a></li>
            <li><a href="@Url.Action("Index", "Sizes")">Kích cỡ</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow" href="#" aria-expanded="false">
            <i class="icon icon-app-store"></i><span class="nav-text">Quần áo</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="@Url.Action("Index", "Clothes")">Thông tin quần áo</a></li>
            <li><a href="@Url.Action("Index", "Images")">Hình ảnh quần áo</a></li>
            <li><a href="@Url.Action("Index", "Quantity")">Số lượng quần áo</a></li>
        </ul>
    </li>
</ul>


