@model ClothesStore.Models.Size

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Label = "Kích cỡ";
    ViewBag.FucLabel = "Xóa kích cỡ";
}

<section class="content">
    <div class="card">
        <div class="card-header border-bottom p-0 p-3 mx-1">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3 class="card-title">
                        <strong>@ViewBag.FucLabel</strong>
                    </h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="@Url.Action("Index", "Sizes")" class="btn btn-primary">
                    Quay lại
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table display p-0 m-0" style="min-width: 845px;">
                    <thead>
                        <tr>
                            <th>.#</th>
                            <th>Mã màu sắc</th>
                            <th>Tên màu sắc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>@Html.DisplayFor(model => model.SizeID)</td>
                            <td>@Html.DisplayFor(model => model.SizeName)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</section>
