@model IEnumerable<ClothesStore.Models.ClothingStyle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Label = "Kiểu quần áo";
    ViewBag.FucLabel = "Thông tin kiểu quần áo";
}

@section header{
    <!-- Datatable -->
    <link href="~/Public/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
}
@section footer{
    <!-- Datatable -->
    <script src="~/Public/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Public/js/plugins-init/datatables.init.js"></script>
}

<section class="content">
    <div class="card">
        <div class="card-header border-bottom p-0 p-3 mx-1">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3 class="card-title">
                        <strong>@ViewBag.FucLabel</strong>
                    </h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="@Url.Action("Create", "ClothingStyles")" class="btn btn-success">
                    Thêm mới
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="display p-0" style="min-width: 845px;">
                    <thead>
                        <tr>
                            <th style="width: 10px">.#</th>
                            <th>Tên kiểu quần áo</th>
                            <th>Tên loại quần áo</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClothingStyleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClothingType.ClothingTypeName)
                                </td>
                                <td>
                                    @if (item.IsHidden == false)
                                    {
                                        <a href="#" class="btn btn-success disabled"><i class="fa fa-toggle-on" aria-hidden="true"></i></a>
                                        <a href="@Url.Action("Edit", "ClothingStyles", new { id = item.ClothingStyleID })" class="btn btn-success">Sửa</a>
                                        <a href="@Url.Action("Delete", "ClothingStyles", new { id = item.ClothingStyleID })" class="btn btn-danger">Xóa</a>
                                        <a href="@Url.Action("Details", "ClothingStyles", new { id = item.ClothingStyleID })" class="btn btn-primary">Xem</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-danger disabled"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>
                                        <a href="@Url.Action("Edit", "ClothingStyles", new { id = item.ClothingStyleID })" class="btn btn-success disabled">Sửa</a>
                                        <a href="@Url.Action("Delete", "ClothingStyles", new { id = item.ClothingStyleID })" class="btn btn-danger disabled">Xóa</a>
                                        <a href="@Url.Action("Details", "ClothingStyles", new { id = item.ClothingStyleID })" class="btn btn-primary">Xem</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</section>